n8n_jsons/Vardiya.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.employeesPath }}",
        "options": {
          "dataPropertyName": "employeesData"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2180,
        -260
      ],
      "id": "cbbde4b8-b292-49fe-8abc-4673c1f58a9d",
      "name": "Employees",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.skillsPath }}",
        "options": {
          "dataPropertyName": "skillData"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2180,
        740
      ],
      "id": "86a042ea-2f74-4559-b827-f523c7434144",
      "name": "Skills"
    },
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.shiftsPath }}",
        "options": {
          "dataPropertyName": "shiftData"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2180,
        -60
      ],
      "id": "aefbec9a-c927-46a0-8a6a-96c16897cf65",
      "name": "Shifts"
    },
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.availabilityPath }}",
        "options": {
          "dataPropertyName": "availabilityData"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2180,
        140
      ],
      "id": "4ec3a2d2-30e3-4147-bf92-4d3db19e6788",
      "name": "Avaibility"
    },
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.preferencesPath }}",
        "options": {
          "dataPropertyName": "preferenceData"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2180,
        540
      ],
      "id": "a298c50b-aaf3-4d7c-bc9c-8b1f6072d2f1",
      "name": "Preferences"
    },
    {
      "parameters": {
        "jsCode": "// Girdileri alalım:\n// allMergedItems -> Merge edilmiş CSV verileri VE YAML içeriğini içerir\n// Webhook verisine erişim.\nconst allMergedItems = $items(\"Merge5\"); // Tüm birleşmiş öğeleri al (CSV'ler + YAML)\nconst webhookData = $items(\"Webhook1\")[0].json; // Webhook verisini al\n\n// 1. Webhook'tan UI parametrelerini al\nconst uiObjectiveWeights = webhookData.body.objective_weights;\nconst uiSolverParams = webhookData.body.solver_params;\n\n// 2. Temel konfigürasyon YAML'ını parse et\n// YAML verisi 'allMergedItems' dizisinin son elemanı olmalı.\n// DİKKAT: Eğer Merge düğümüne 6 giriş varsa, YAML verisi allMergedItems[5] olmalı.\n// Eğer Merge düğümüne daha az/fazla giriş varsa bu indeksi DÜĞÜM ÇIKTISINA GÖRE ayarlayın.\nconst baseConfigItem = allMergedItems[allMergedItems.length - 1]; // Son öğeyi YAML olarak varsay\nlet baseConfigJson = {};\nconst yaml = require('js-yaml');\n\ntry {\n  if (baseConfigItem && baseConfigItem.binary && baseConfigItem.binary.data) {\n    const baseConfigYAML = Buffer.from(baseConfigItem.binary.data.data, 'base64').toString();\n    baseConfigJson = yaml.load(baseConfigYAML);\n    console.log(\"Temel Konfigürasyon başarıyla yüklendi.\");\n  } else {\n    console.error(\"Merge'den gelen YAML konfigürasyon öğesi beklenen formatta değil:\", baseConfigItem);\n    baseConfigJson = { error: \"YAML item missing or malformed\", optimization_core: {} };\n  }\n} catch (e) {\n  console.error(\"Temel YAML konfigürasyonu parse edilemedi:\", e);\n  baseConfigJson = { error: \"YAML parse error\", optimization_core: {} };\n}\n\n// 3. Temel konfigürasyonu UI parametreleriyle güncelle\nif (!baseConfigJson.optimization_core) {\n  baseConfigJson.optimization_core = {}; // Hata durumunda bile bu alanın var olmasını sağla\n}\nif (uiObjectiveWeights) {\n    baseConfigJson.optimization_core.objective_weights = uiObjectiveWeights;\n    console.log(\"Hedef ağırlıkları UI'dan gelenle güncellendi.\");\n}\nif (uiSolverParams && uiSolverParams.time_limit_seconds !== undefined) {\n    baseConfigJson.optimization_core.solver_time_limit_seconds = uiSolverParams.time_limit_seconds;\n    console.log(\"Çözücü zaman limiti UI'dan gelenle güncellendi.\");\n}\nif (uiSolverParams && uiSolverParams.use_mip_solver !== undefined) {\n    baseConfigJson.optimization_core.use_mip_solver = uiSolverParams.use_mip_solver;\n     console.log(\"Gelişmiş çözücü ayarı UI'dan gelenle güncellendi.\");\n}\n\n// 4. input_data'yı oluştur\nconst employees = [];\nconst skills = [];\nconst shifts = [];\nconst availability = [];\nconst preferences = [];\nlet unclassifiedCount = 0;\n\n// Birleştirilmiş öğeleri döngüye al, AMA SONUNCUYU (YAML) ATLA\n// Bu yüzden döngü allMergedItems.length - 1'e kadar gitmeli.\nfor (let i = 0; i < allMergedItems.length - 1; i++) { // SON ÖĞEYİ HARİÇ TUT\n  const item = allMergedItems[i];\n\n  if (!item || !item.json) {\n      console.warn(`UYARI: Geçersiz CSV öğe yapısı atlanıyor (index ${i}):`, item);\n      continue;\n  }\n\n  const data = item.json;\n  let categorized = false;\n\n  if (data.hasOwnProperty('preference_score')) {\n    preferences.push(data);\n    categorized = true;\n  } else if (data.hasOwnProperty('shift_id') && data.hasOwnProperty('start_time') && !data.hasOwnProperty('employee_id') && !data.hasOwnProperty('role')) {\n    shifts.push(data);\n    categorized = true;\n  } else if (data.hasOwnProperty('is_available') && data.hasOwnProperty('date') && data.hasOwnProperty('employee_id')) {\n    availability.push(data);\n    categorized = true;\n  } else if (data.hasOwnProperty('skill') && data.hasOwnProperty('employee_id') && !data.hasOwnProperty('role')) {\n    skills.push(data);\n    categorized = true;\n  } else if (data.hasOwnProperty('role') && data.hasOwnProperty('employee_id')) {\n    employees.push(data);\n    categorized = true;\n  }\n\n  if (!categorized) {\n    unclassifiedCount++;\n    if (unclassifiedCount <= 5) {\n        console.warn(`UYARI: CSV Öğesi sınıflandırılamadı (index ${i}). Veri:`, JSON.stringify(data));\n    } else if (unclassifiedCount === 6) {\n        console.warn(\"UYARI: Daha fazla sınıflandırılamayan CSV öğesi loglanmayacak...\");\n    }\n  }\n}\n\nconsole.log(`DEBUG: CSV Sınıflandırma tamamlandı. Sayılar - Employees: ${employees.length}, Skills: ${skills.length}, Shifts: ${shifts.length}, Availability: ${availability.length}, Preferences: ${preferences.length}, Unclassified: ${unclassifiedCount}`);\n\nconst input_data = { employees, skills, shifts, availability, preferences };\n\nif (employees.length === 0 || shifts.length === 0 || availability.length === 0) {\n    console.error(`HATA: Employees(${employees.length}), Shifts(${shifts.length}) veya Availability(${availability.length}) CSV dizilerinden en az biri boş! Sınıflandırma mantığı veya girdi verisi kontrol edilmeli.`);\n}\n\n// 5. Python API'sine gönderilecek nihai istek gövdesini oluştur\nconst requestBodyForPython = {\n  configuration: baseConfigJson,\n  input_data: input_data\n};\n\nconsole.log(\"Python API'sine gönderilecek son istek gövdesi:\", JSON.stringify(requestBodyForPython, null, 2));\n\nreturn [ { json: requestBodyForPython } ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        240
      ],
      "id": "83a743e0-bdb0-42e0-b99e-3233c1c63705",
      "name": "Code"
    },
    {
      "parameters": {
        "binaryPropertyName": "employeesData",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1960,
        -260
      ],
      "id": "a0002484-be07-40b5-932d-d1351d024a1c",
      "name": "Extract Employees CSV"
    },
    {
      "parameters": {
        "binaryPropertyName": "availabilityData",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1960,
        140
      ],
      "id": "41b4a9f6-07f7-4136-938c-4bd08551b1a1",
      "name": "Extract Availability CSV"
    },
    {
      "parameters": {
        "binaryPropertyName": "shiftData",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1960,
        -60
      ],
      "id": "f40c5ba5-4ee4-49af-863f-356edb5060a9",
      "name": "Extract Shifts CSV"
    },
    {
      "parameters": {
        "binaryPropertyName": "preferenceData",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1960,
        540
      ],
      "id": "1923f78d-dcd4-47c1-8419-cfff601aed73",
      "name": "Extract Preferences CSV"
    },
    {
      "parameters": {
        "binaryPropertyName": "skillData",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1960,
        740
      ],
      "id": "16708c56-6969-43c7-9097-b617377ef5f5",
      "name": "Extract Skills CSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/optimize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        240
      ],
      "id": "929eca53-1c50-43e6-964e-9b5af4e67409",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimization",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3060,
        240
      ],
      "id": "f45605c9-22c7-4761-adc5-434d302ca6a3",
      "name": "Webhook",
      "webhookId": "98a3eec5-cce7-4a93-b2e5-2275b192b265"
    },
    {
      "parameters": {
        "fileSelector": "/mnt/workflow_configs/aktif_ayarlar.json",
        "options": {
          "fileName": "aktifAyarlar"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2840,
        240
      ],
      "id": "47e9c4d4-f435-46ca-9530-b324124d83f3",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Girişleri al:\n// items[0].json -> Bir önceki \"Set\" (Edit Fields) düğümünün çıktısı\n// items[1].binary.data.data -> aktif_ayarlar.json dosyasının içeriği\n\nconst upstreamNodeOutput = items[0].json; // Bir önceki düğümün çıktısı\nconsole.log(\"Bir önceki 'Set' (Edit Fields) düğümünden gelen veri:\", JSON.stringify(upstreamNodeOutput, null, 2));\n\nlet aktifAyarlar;\ntry {\n  // items[1] 'aktif_ayarlar.json' dosyasını içeriyor olmalı\n  const aktifAyarlarStr = Buffer.from(items[1].binary.data.data, 'base64').toString();\n  aktifAyarlar = JSON.parse(aktifAyarlarStr);\n  console.log(\"Okunan aktif ayarlar:\", aktifAyarlar);\n} catch (error) {\n  console.warn(\"Aktif ayarlar dosyası okunamadı veya ayrıştırılamadı:\", error);\n  aktifAyarlar = {\n    varsayilan_veri_seti: \"hastane\",\n    varsayilan_kural_seti_adi: \"temel_kurallar\" // kurallar için varsayılan\n  };\n  console.log(\"Varsayılan aktif ayarlar kullanılıyor:\", aktifAyarlar);\n}\n\nlet nihaiVeriSeti;\nlet nihaiKurallar = aktifAyarlar.varsayilan_kural_seti_adi; // 'kurallar' için başlangıç değeri\n\n// 1. 'nihaiVeriSeti'ni belirle:\n// Öncelik, bir önceki \"Set\" (Edit Fields) düğümünden gelen 'kullanilacakVeriSeti' değerinde.\nif (upstreamNodeOutput && upstreamNodeOutput.kullanilacakVeriSeti) {\n  nihaiVeriSeti = upstreamNodeOutput.kullanilacakVeriSeti;\n  console.log(`'kullanilacakVeriSeti' bir önceki düğümden alındı: ${nihaiVeriSeti}`);\n} else {\n  // Eğer bir önceki düğümden gelmiyorsa, Webhook query'sine bak (bu senaryoda buraya düşmemeli)\n  // veya aktif ayarlardaki varsayılana dön.\n  // Bu örnekte, eğer upstream'den gelmezse doğrudan aktif ayarlara düşürelim.\n  console.warn(\"'kullanilacakVeriSeti' bir önceki düğümde bulunamadı. Aktif ayarlardaki varsayılan kullanılacak.\");\n  nihaiVeriSeti = aktifAyarlar.varsayilan_veri_seti;\n}\n\n// 2. 'nihaiKurallar'ı belirle:\n// Eğer bir önceki \"Set\" (Edit Fields) düğümü 'kurallar' diye bir alan üretiyorsa onu al.\n// Üretmiyorsa, Webhook query'sinden (eğer Webhook direkt bu Code node'una bağlıysa) veya aktif ayarlardan al.\n// Mevcut durumda, upstreamNodeOutput'ta 'kurallar' alanı yok gibi görünüyor.\n// Bu yüzden 'kurallar' için hala Webhook query'sine veya aktif ayarlara bakmamız gerekebilir.\n// Şimdilik, 'kurallar'ın dinamik olarak Webhook'tan gelmesi gerekiyorsa,\n// bir önceki \"Set\" (Edit Fields) düğümünün de Webhook'tan 'query.kurallar' alıp\n// 'kurallar' adıyla bir alan üretmesi en temiz çözüm olurdu.\n// Ya da bu Code node'unun Webhook'tan ayrıca bir input alması gerekir.\n// Şimdilik sadece aktif ayarlardan gelen varsayılanı kullanıyoruz.\n// Gerekirse burası daha sonra düzenlenebilir.\nif (upstreamNodeOutput && upstreamNodeOutput.query && upstreamNodeOutput.query.kurallar) {\n    // Bu senaryoda (items[0] Set node çıktısı ise) buraya pek girmez.\n    nihaiKurallar = upstreamNodeOutput.query.kurallar;\n    console.log(`'kurallar' upstreamNodeOutput.query içinden alındı: ${nihaiKurallar}`);\n} else {\n    console.log(`'kurallar' için dinamik bir kaynak bulunamadı (örn: upstreamNodeOutput.query.kurallar). Aktif ayarlardaki varsayılan ('${nihaiKurallar}') kullanılacak.`);\n}\n\n\n// Dosya yollarını nihaiVeriSeti'ne göre oluştur\nconst veriKlasoru = `/mnt/workflow_data/${nihaiVeriSeti}`;\nconst filePrefix = nihaiVeriSeti === \"cagri_merkezi\" ? \"_cm\" : \"\";\n\nconst employeesPath = `${veriKlasoru}/employees${filePrefix}.csv`;\nconst shiftsPath = `${veriKlasoru}/shifts${filePrefix}.csv`;\nconst skillsPath = `${veriKlasoru}/skills${filePrefix}.csv`;\nconst availabilityPath = `${veriKlasoru}/availability${filePrefix}.csv`;\nconst preferencesPath = `${veriKlasoru}/preferences${filePrefix}.csv`;\n\nconst configPath = nihaiVeriSeti === \"cagri_merkezi\" ?\n                  \"/mnt/workflow_configs/cagri_merkezi_config.yaml\" :\n                  \"/mnt/workflow_configs/hospital_test_config.yaml\";\n\n// Sonuçları döndür\nreturn [\n  {\n    veriSeti: nihaiVeriSeti,\n    kurallar: nihaiKurallar,\n    veriKlasoru,\n    employeesPath,\n    shiftsPath,\n    skillsPath,\n    availabilityPath,\n    preferencesPath,\n    configPath\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        240
      ],
      "id": "196874c2-3215-4903-8260-e3d62ccbc022",
      "name": "Ayar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $node[\"Ayar\"].json.configPath }}",
        "options": {
          "fileName": "baseConfigYamlContent"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1960,
        340
      ],
      "id": "66e73fe8-a536-497e-a08a-d787aa807f4d",
      "name": "Oku Temel Konfig"
    },
    {
      "parameters": {
        "mode": "=append",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1740,
        -160
      ],
      "id": "f8999c27-5ed7-4c53-b138-dd1431b80234",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "=append",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1740,
        240
      ],
      "id": "f7c49175-80e3-43d4-bfe5-008348a3d8d3",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "=append",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1740,
        640
      ],
      "id": "4348f199-af49-46fc-8e24-ea575c39987a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "=append",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1520,
        40
      ],
      "id": "79f65b32-fecd-4886-a7f1-8aa11d766783",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "=append",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1300,
        240
      ],
      "id": "bd91f281-dc87-4433-ae07-da9b26cc4957",
      "name": "Merge4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"kullanilacakVeriSeti\": \"={{ $('Webhook').first().json.query?.veriSeti || 'hastane' }}\",\n  \"basePath\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? '/veri_kaynaklari/cagri_merkezi/' : '/veri_kaynaklari/hastane/' }}\",\n  \"employeesFile\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? 'employees_cm.csv' : 'employees.csv' }}\",\n  \"shiftsFile\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? 'shifts_cm.csv' : 'shifts.csv' }}\",\n  \"skillsFile\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? 'skills_cm.csv' : 'skills.csv' }}\",\n  \"availabilityFile\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? 'availability_cm.csv' : 'availability.csv' }}\",\n  \"preferencesFile\": \"={{ ($('Webhook').first().json.query?.veriSeti || 'hastane') === 'cagri_merkezi' ? 'preferences_cm.csv' : 'preferences.csv' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2620,
        240
      ],
      "id": "ef04519a-255f-4979-b56b-891141b4746f",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Employees": {
      "main": [
        [
          {
            "node": "Extract Employees CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skills": {
      "main": [
        [
          {
            "node": "Extract Skills CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shifts": {
      "main": [
        [
          {
            "node": "Extract Shifts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaibility": {
      "main": [
        [
          {
            "node": "Extract Availability CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preferences": {
      "main": [
        [
          {
            "node": "Extract Preferences CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ayar": {
      "main": [
        [
          {
            "node": "Oku Temel Konfig",
            "type": "main",
            "index": 0
          },
          {
            "node": "Employees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Shifts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Avaibility",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preferences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Employees CSV": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Shifts CSV": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Availability CSV": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Preferences CSV": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Skills CSV": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Oku Temel Konfig": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Ayar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e56b25e8-c437-46bb-84e0-1fd460a8450e",
  "meta": {
    "instanceId": "db9e4d085586713a96d1f057663fa03f0c714be924d072d377f03b8e1f0f8e01"
  },
  "id": "BZKfzJ5DwcQYpc7I",
  "tags": []
}